<!-- Slider -->
<div id="main-slider" class="flexslider">
	<ul class="slides">
		<li>
			<img src="img/slides/1.jpg" alt="" />
			<div class="flex-caption">
				<h3>DDNB Design</h3>
				<p>
					AAAAAA
				</p>
				<a href="#" class="btn btn-theme">Learn More</a>
			</div>
		</li>
		<li>
			<img src="img/slides/2.jpg" alt="" />
			<div class="flex-caption">
				<h3>Fully Responsive</h3>
				<p>
					BBBBB.
				</p>
				<a href="#" class="btn btn-theme">Learn More</a>
			</div>
		</li>
		<li>
			<img src="img/slides/3.jpg" alt="" />
			<div class="flex-caption">
				<h3>Clean & Fast</h3>
				<p>
					CCCC.
				</p>
				<a href="#" class="btn btn-theme">Learn More</a>
			</div>
		</li>
	</ul>
</div>
<!-- end slider -->