<div id="header">
	<ul>
		[navigation]
	</ul>
	<div>
		<div class="section">
			<a href="/" id="logo"><h1>[sitename]</h1></a>
			<div>
				よこそ
				<a href="/">[title]</a>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div>
		<ul class="breadcrumb">
			[breadcrum]
		</ul>
		<div>
			<div class="aside">
				<p>
					[blog]
				</p>
			</div>
			<div class="sidebar">
				<ul>
					<li>
						<div>
							2015<span>ニュース</span>
						</div>
					</li>
				</ul>
				<ul>
					[newestpost]
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div>
		<div>
			<!-- <div id="connect">
			<span>Follow Us:</span>
			<a href="#" target="_blank"><img src="images/icon-facebook.gif" alt="Facebook" /></a>
			<a href="#" target="_blank"><img src="images/icon-twitter.gif" alt="Twitter" /></a>
			</div> -->
			<div class="section">
				<ul>
					[navigation]
				</ul>
				<p>
					[sitename]© 2015. All Rights Reserved
				</p>
			</div>
		</div>
	</div>
</div>
