<div id="header">
	<ul>
		[navigation]
	</ul>
	<div>
		<div class="section">
			<a href="/" id="logo"><h1>[sitename]</h1></a>
			<div>
				よこそ
				<a href="/">[title]</a>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div>
		<h2>Blog</h2>
		<div>
			<div class="aside">
				<h1><a href="index.html">We Have Free Templates for Everyone, 11.11.11</a></h1>
				<p>
					[blog]
				</p>
			</div>
			<div class="sidebar">
				<ul>
					<li>
						<div>2015</div>
					</li>
					<p>
						[newestpost]
					</p>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div>
		<div>
			<div id="connect">
				<span>Follow Us:</span>
				<a href="#" target="_blank"><img src="images/icon-facebook.gif" alt="Facebook" /></a>
				<a href="#" target="_blank"><img src="images/icon-twitter.gif" alt="Twitter" /></a>
			</div>
			<div class="section">
				<ul>
					[navigation]
				</ul>
				<p>
					[sitename]© 2015. All Rights Reserved
				</p>
			</div>
		</div>
	</div>
</div>
