<div id="page">
	<div id="header">
		<a href="/" id="logo"><h1>[sitename]</h1></a>
		<ul>
			[navigation]
		</ul>
	</div>
	<div id="body">
		<section class="content-header">
			[breadcrum]
		</section>
		<div id="content">
			<div id="article">
				<h1>News</h1>
				<img src="http://lecaoquochung.github.io/ddnb.template/template/blogx/201503_41/images/gardening7.jpg" alt="Wedding Plan">
				[blog]
			</div>
			<div id="sidebar">
				<div>
					<h3>Latest Post</h3>
					<ul>
						[newestpost]
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>
			[sitename]© 2015 by . All Rights Reserved
		</p>
	</div>
</div>