<header class="navbar navbar-default" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
				<span class="sr-only">Global navigation</span>
			</button><a class="navbar-brand" href="[baseurl]">[sitename]</a>
		</div>
		[navigation]
	</div>
</header>
<div id="masthead">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2>[title]</h2>
			</div>
			[RANDOM_IMAGE]
		</div>
	</div>
</div>
<div class="container">
	<h4>[breadcrum]</h4>
	<div class="row">
		<div class="col-md-3" id="leftCol">
			<hr />
			<ul class="nav nav-stacked" id="sidebar">
				<li>
					[newestpost]
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			[blog]
			<hr />
			[RANDOM_POPULAR]
			<hr />
		</div>
	</div>
</div>