<div id="header">
	<div>
		<div class="logo">
			<a href="/" id="logo">[sitename]</a>
		</div>
		<ul id="navigation">
			[navigation]
		</ul>
	</div>
</div>
<div id="contents">
	<div class="main">
		<h1>News</h1>
		<ul class="news">
			<li>
				<div class="date">
					<p>
						<!-- <span>03</span> -->
						2015
					</p>
				</div>
				<p>
					[blog]
				</p>
			</li>
		</ul>
	</div>
	<div class="sidebar">
		<h1>Popular Posts</h1>
		<ul class="posts">
			[newestpost]
		</ul>
	</div>
</div>
<div id="footer">
	<div class="clearfix">
		<p>
			[sitename]© 2015. All Rights Reserved
		</p>
	</div>
</div>