<div id="background">
	<div id="page">
		<div id="header">
			<div id="logo">
				<a href="/"><h1 class="bg-success">[sitename]</h1></a>
			</div>
			<div id="navigation">
				[navigation]
			</div>
		</div>
		<div id="contents">
			[breadcrum]
			<div class="box">
				<div>
					<div id="news" class="body">
						<h1>[title] | [description]</h1>
						<div class="sidebar">
							<h3>Latest News</h3>
							<ul>
								<li>
									[newestpost]
								</li>
							</ul>
						</div>
						<div>
							[blog]
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<ul class="navigation">
				<p>© 2015 by [sitename]. All Rights Reserved</p>
			</ul>
			<div id="connect">
				<a href="#" target="_blank" class="pinterest"></a><a href="#" target="_blank" class="facebook"></a><a href="#" target="_blank" class="twitter"></a><a href="#" target="_blank" class="googleplus"></a>
			</div>
		</div>
	</div>
</div>